main{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.bold{
    font-weight: bold;
    font-size: 15pt;
}
header{
    font-weight: bold;
    font-size: 20pt;
}
.center{
    width: 100%;
    font-size: 20pt;
    font-weight: bold;
    z-index: 1;
    align-content: center;
    text-align: center;
}
.table{
    width: 100%;
    font-size: 14pt;
    align-content: center;
    text-align: center;
}